@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Parisienne&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cormorant Garamond", serif;
}

.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100% !important;
  background: linear-gradient(rgba(128, 0, 64, 0.4), rgba(128, 0, 64, 0.92)),
    url('./assets/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mobileAdditionalBg {
  display: none;
}

.separatorContainer {
  margin-top: 10px;
}

.textName {
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  font-size: 120px;
  text-align: center;
}

.invitationText {
  margin-top: 50px;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.invitationTo {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

.buttonContainer {
  margin-top: 50px;
}

@media only screen and (max-width: 480px) {
  .containerr {
    margin: 0;
    height: 100vh;
    width: 100% !important;
    background: linear-gradient(rgba(128, 0, 64, 0.4), rgba(128, 0, 64, 0.92)),
      url('./assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .mobileAdditionalBg {
    display: block;
    background: linear-gradient(rgba(128, 0, 64, 0.92), rgba(128, 0, 64, 0.92));
    width: 100%;
    height: 10vh;
  }

  .separatorContainer {
    margin-top: 0px;
  }

  .textName {
    font-size: 50px;
  }

  .invitationText {
    margin-top: 3px;
    font-size: 12px;
    line-height: 30px;
  }

  .invitationTo {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }

  .buttonContainer {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .textName {
    font-size: 80px;
  }

  .invitationText {
    font-size: 20px;
    line-height: 30px;
  }

  .invitationTo {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }

  .buttonContainer {
    margin-top: 40px;
  }
}