@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kaushan Script", serif;
}

.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100% !important;
  background: linear-gradient(rgba(128, 0, 64, 0.92), rgba(128, 0, 64, 0.92)),
    url('https://picsum.photos/1920/1920/?random&blur');
  background-repeat: no-repeat;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #412222;
}

.mobileAdditionalBg {
  display: none;
}

.separatorContainer {
  margin-top: 10px;
}

.textName {
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  font-size: 120px;
  text-align: center;
}

.invitationText {
  margin-top: 50px;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.invitationTo {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

.buttonContainer {
  margin-top: 50px;
}

@media only screen and (max-width: 480px) {
  .containerr {
    margin: 0;
    height: 100vh;
    width: 100% !important;
    background: linear-gradient(rgba(128, 0, 64, 0.92), rgba(128, 0, 64, 0.92)),
      url('https://picsum.photos/1920/1920/?random&blur');
    background-repeat: no-repeat;
    background-position: center center;
    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #412222;
  }

  .mobileAdditionalBg {
    display: block;
    background: linear-gradient(rgba(128, 0, 64, 0.92), rgba(128, 0, 64, 0.92));
    width: 100%;
    height: 10vh;
  }

  .separatorContainer {
    margin-top: 0px;
  }

  .textName {
    font-size: 50px;
  }

  .invitationText {
    margin-top: 3px;
    font-size: 12px;
    line-height: 30px;
  }

  .invitationTo {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }

  .buttonContainer {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .textName {
    font-size: 80px;
  }

  .invitationText {
    font-size: 20px;
    line-height: 30px;
  }

  .invitationTo {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }

  .buttonContainer {
    margin-top: 40px;
  }
}